.nav-bar {
    width: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-image: linear-gradient(99deg, rgb(133, 52, 72), rgb(144, 82, 50) 40%, rgb(170, 139, 68) 73%, rgb(170, 171, 76));
    justify-content: space-between;
}

.nav-button {
    border: none;
    background-color: transparent;
    /* display: flex; */
    padding: 12px;
    size: 20px;
    
    
}